interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28x%3Ax%20eq%20%27http%3A%2F%2Fcli-app-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '676444'
      ocp-aad-diagnostics-server-name:
      - oRpCgYvGUvvuYveDmr6nh1xdUczfl30fsWSoXBt/zM4=
      ocp-aad-session-key:
      - gBQy0YX6kYx8QQCZLj9X2sY2Scp8IecUpv2Gw3Bm7sOfl-rAet7C-7Q9Txfe2j67x6v7SL6fjkVGJMtQ3eLQzvxTpIhNrWMG44cNWBF8MdudQKRQiIvA8QtsOhTPW59C1hrCfSiWo38WLEkTr0YcrewNdy9a-Q19HjrqRMiZUHbEK38mzABqgV5Lno75clJwst1TmYhtorG_DuGydtOF0Q.jQtMN9WcIfBLCdtU9S1ehVXMlfGthNz4SOhJLo7X_VE
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=startswith%28displayName%2C%27cli-app-000001%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '667784'
      ocp-aad-diagnostics-server-name:
      - 1NLGSpbQa/sgyX5Koc4Pfki9rdzL63nmFXc/kk253lk=
      ocp-aad-session-key:
      - TPO2wNY3cS2sirj3kDH0kZD0wu4168IsO38XE5IKfPEzmabgwBeNvs0nLMOuzET0Xn4obscSeQV_8_TYB72zOkhJ74Cuap6GegBpfBxpbFUbQKHQTJMOxjdRJIeyvHtyY3X7b9sMAGrb4mS3lrf0zXVQ0RxtpVkYzhaSoyb3eZjQ_qxQxDCrWxHOzpQvvvXo-o-VFM_yE-drVH7dscC58Q.NwZ5K_kf_iKGL1-a8mGmTVpkHy-PqVPd54hSx_n7euE
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"availableToOtherTenants": false, "homepage": "https://cli-app-000001",
      "passwordCredentials": [{"startDate": "2020-05-05T10:23:31.56994Z", "endDate":
      "2021-05-05T10:23:31.56994Z", "keyId": "eac7caae-acfc-4eec-8029-03cbcfbca44f",
      "value": "ReplacedSPPassword123*", "customKeyIdentifier": "//5yAGIAYQBjAA=="}],
      "displayName": "cli-app-000001", "identifierUris": ["http://cli-app-000001"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?api-version=1.6
  response:
    body:
      string: '{"odata.metadata": "https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element",
        "odata.type": "Microsoft.DirectoryServices.Application", "objectType": "Application",
        "objectId": "1786fb82-8812-471d-9b57-81775970fbc4", "deletionTimestamp": null,
        "acceptMappedClaims": null, "addIns": [], "appId": "bfc17ae7-4e49-4149-bcac-3494ca5b8996",
        "applicationTemplateId": null, "appRoles": [], "availableToOtherTenants":
        false, "displayName": "cli-app-000001", "errorUrl": null, "groupMembershipClaims":
        null, "homepage": "https://cli-app-000001", "identifierUris": ["http://cli-app-000001"],
        "informationalUrls": {"termsOfService": null, "support": null, "privacy":
        null, "marketing": null}, "isDeviceOnlyAuthSupported": null, "keyCredentials":
        [], "knownClientApplications": [], "logoutUrl": null, "logo@odata.mediaEditLink":
        "directoryObjects/1786fb82-8812-471d-9b57-81775970fbc4/Microsoft.DirectoryServices.Application/logo",
        "logo@odata.mediaContentType": "application/json;odata=minimalmetadata; charset=utf-8",
        "logoUrl": null, "mainLogo@odata.mediaEditLink": "directoryObjects/1786fb82-8812-471d-9b57-81775970fbc4/Microsoft.DirectoryServices.Application/mainLogo",
        "oauth2AllowIdTokenImplicitFlow": true, "oauth2AllowImplicitFlow": false,
        "oauth2AllowUrlPathMatching": false, "oauth2Permissions": [{"adminConsentDescription":
        "Allow the application to access cli-app-000001 on behalf of the signed-in
        user.", "adminConsentDisplayName": "Access cli-app-000001", "id": "d53412d6-424d-4a3d-9750-d6fd07d84915",
        "isEnabled": true, "type": "User", "userConsentDescription": "Allow the application
        to access cli-app-000001 on your behalf.", "userConsentDisplayName": "Access
        cli-app-000001", "value": "user_impersonation"}], "oauth2RequirePostResponse":
        false, "optionalClaims": null, "orgRestrictions": [], "parentalControlSettings":
        {"countriesBlockedForMinors": [], "legalAgeGroupRule": "Allow"}, "passwordCredentials":
        [{"customKeyIdentifier": "//5yAGIAYQBjAA==", "endDate": "2021-05-05T10:23:31.56994Z",
        "keyId": "eac7caae-acfc-4eec-8029-03cbcfbca44f", "startDate": "2020-05-05T10:23:31.56994Z",
        "value": "ReplacedSPPassword123*"}], "publicClient": null, "publisherDomain":
        "phsignor.onmicrosoft.com", "recordConsentConditions": null, "replyUrls":
        [], "requiredResourceAccess": [], "samlMetadataUrl": null, "signInAudience":
        "AzureADMyOrg", "tokenEncryptionKeyId": null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '3937644'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/1786fb82-8812-471d-9b57-81775970fbc4/Microsoft.DirectoryServices.Application
      ocp-aad-diagnostics-server-name:
      - D20yv2/sPih/rc/m8LT1Tf7/bgDw5kvj4kF0Iy4gVyQ=
      ocp-aad-session-key:
      - J_ghhmZ1TBsTGjzgSh9ikoiY2O12ZtSIxk9Xp91lfndNs3Pig8u_3hTdD7Apl3vEmsF0ujPlFi0vrM1gq5P4gHCjr9TK46PvvC-nSMZ9XS8axSlrE_iP4T_gU3coNmFEhm8saXvnIvk2DSHJHCzbF3bDGfEMC9CfJE47AvLxUsfMVD7KAWNSvdtFzdYZM-g0OxsP20Z00xno2IaaQ2hp5Q.dFfvGgAm4t9brK3VOUrvbn7FqhczpIQ1hDEiiocuuns
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: '{"accountEnabled": "True", "appId": "bfc17ae7-4e49-4149-bcac-3494ca5b8996"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"1e9e699a-670d-4916-9040-151b72b36a94","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"cli-app-000001","appId":"bfc17ae7-4e49-4149-bcac-3494ca5b8996","applicationTemplateId":null,"appOwnerTenantId":"1c411c5e-78cc-4e89-af5e-169408a540b8","appRoleAssignmentRequired":false,"appRoles":[],"displayName":"cli-app-000001","errorUrl":null,"homepage":"https://cli-app-000001","informationalUrls":{"termsOfService":null,"support":null,"privacy":null,"marketing":null},"keyCredentials":[],"logoutUrl":null,"notificationEmailAddresses":[],"oauth2Permissions":[{"adminConsentDescription":"Allow
        the application to access cli-app-000001 on behalf of the signed-in user.","adminConsentDisplayName":"Access
        cli-app-000001","id":"d53412d6-424d-4a3d-9750-d6fd07d84915","isEnabled":true,"type":"User","userConsentDescription":"Allow
        the application to access cli-app-000001 on your behalf.","userConsentDisplayName":"Access
        cli-app-000001","value":"user_impersonation"}],"passwordCredentials":[],"preferredSingleSignOnMode":null,"preferredTokenSigningKeyEndDateTime":null,"preferredTokenSigningKeyThumbprint":null,"publisherName":"PHSIGNOR","replyUrls":[],"samlMetadataUrl":null,"samlSingleSignOnSettings":null,"servicePrincipalNames":["bfc17ae7-4e49-4149-bcac-3494ca5b8996","http://cli-app-000001"],"servicePrincipalType":"Application","signInAudience":"AzureADMyOrg","tags":[],"tokenEncryptionKeyId":null}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2832875'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/directoryObjects/1e9e699a-670d-4916-9040-151b72b36a94/Microsoft.DirectoryServices.ServicePrincipal
      ocp-aad-diagnostics-server-name:
      - 0dRdnsliy2MU9/firIpSqOMdl84CAToE2w1Hp02sKwc=
      ocp-aad-session-key:
      - 92S4k22wZCzJXwoAR8Be_8pj7OsBfKzyG45E7IJkzHbGeaai88jf_22vd1eIIiDXtP3iABkrKH6XF7Oq0Nvv8RV91a_vlX8HEcF6Y8m-jt4S9qtYe8yqLfWZ5ovHZT4ErgdRCBSUf2UJjxisEDhy-JyVHf3udPIQMEa1GBfBysGlp6ZGC7aJICL2SUqM3vyOXIxGAj5BThTl1L_Zvq6y5A.HMxOFgdfW1UBrEJA5GOkk5lmNSwvfW-fF9IJFKisz7Y
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%27bfc17ae7-4e49-4149-bcac-3494ca5b8996%27%29%20or%20objectId%20eq%20%27bfc17ae7-4e49-4149-bcac-3494ca5b8996%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Micro[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals?$filter=servicePrincipalNames%2Fany%28c%3Ac%20eq%20%2700000002-0000-0000-c000-000000000000%27%29%20or%20objectId%20eq%20%2700000002-0000-0000-c000-000000000000%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"84052623-1b84-4385-be42-84d00f4b2f60","deletionTimestamp":null,"accountEnabled":true,"addIns":[],"alternativeNames":[],"appDisplayName":"Windows
        Azure Active Directory","appId":"00000002-0000-0000-c000-000000000000","applicationTemplateId":null,"appOwnerTenantId":"f8cdef31-a31e-4b4a-93e4-5f571e91255a","appRoleAssignmentRequired":false,"appRoles":[{"allowedMemberTypes":["Application"],"description":"Allows
        the app to read all your organization''s policies without a signed-in user.
        ","displayName":"Read your organization''s policies","id":"6c2d1b1d-a490-4178-ba6b-7efceda9129b","isEnabled":true,"value":"Policy.Read.All"},{"allowedMemberTypes":["Application"],"description":"Allows
        the app to read data in your company or school directory, such as users, groups,
        and apps.","displayName":"Read directory data","id":"5778995a-e1bf-45b8-affa-663a9f3f4d04","isEnabled"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/oauth2PermissionGrants?$filter=clientId%20eq%20%271e9e699a-670d-4916-9040-151b72b36a94%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#oauth2PermissionGrants","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '675457'
      ocp-aad-diagnostics-server-name:
      - 5VajinanjCUBC+s7uYIJKstVA5ILQxIN7jNgfPxeH8w=
      ocp-aad-session-key:
      - _Xkc-UYBhhXBCG3eeC7z4bE8tvTHW6B3Zjhlh67R3l0Bp19dsnlz02IG7Wz92f0fXbLhp5iOQnnNN5ci65FofRCv-y7hmFTzLu1F_Ld9e9lUKudyKau_ZDuuQAoJeHORjMQ03SHMlgyw4Ev2WQhBIbHfDJ0B3BcxfJDHesw06VNvnbmgyfBkHLlAL4f6Bvx6t9NK5-RBHzFR3jqTDLRG5A.SwHVxbM6f4srNBkHxK1CRe62YMtPF9DXWwWWFxU1xqw
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: '{"odata.type": "Microsoft.DirectoryServices.OAuth2PermissionGrant", "clientId":
      "1e9e699a-670d-4916-9040-151b72b36a94", "consentType": "AllPrincipals", "resourceId":
      "84052623-1b84-4385-be42-84d00f4b2f60", "scope": "User.Read", "startTime": "2020-05-05T10:23:34.799463",
      "expiryTime": "2021-05-05T10:23:34.799463"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/oauth2PermissionGrants?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#oauth2PermissionGrants/@Element","clientId":"1e9e699a-670d-4916-9040-151b72b36a94","consentType":"AllPrincipals","expiryTime":"2021-05-05T10:23:34.799463","objectId":"mmmeHg1nFkmQQBUbcrNqlCMmBYSEG4VDvkKE0A9LL2A","principalId":null,"resourceId":"84052623-1b84-4385-be42-84d00f4b2f60","scope":"User.Read","startTime":"2020-05-05T10:23:34.799463"}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '2604836'
      location:
      - https://graph.windows.net/00000000-0000-0000-0000-000000000000/oauth2PermissionGrants/mmmeHg1nFkmQQBUbcrNqlCMmBYSEG4VDvkKE0A9LL2A
      ocp-aad-diagnostics-server-name:
      - lQ83keCxA2HS5OLHoMPNxSIzIscxMnbYNt94X8zLp5Q=
      ocp-aad-session-key:
      - 68Yxj4Q_mznme-YqBdxVILXs45XYTMjY2M5DBy-TLvnO8vNbXhhtkTYKCVLwIf3kZ7sX3erf5jPlEUb91ITkljJH3XnygztFoydAfgKcY8D1yzH0v_Ugmopb8s47rvSj4mstd3DLFFNytXHOCK4RNTaYVbiliLu6I18Q7ym08TKlv8XAHSV71h5ovD2cWmw3_qxB-sKjGh9_7iBX8fETBA.CnkbBiS_Err5mNY64wYZm6QymmP4rX41XrVw2oMBJ_A
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/servicePrincipals/84052623-1b84-4385-be42-84d00f4b2f60?api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects/@Element","odata.type":"Microsoft.DirectoryServices.ServicePrincipal","objectType":"ServicePrincipal","objectId":"84052623-1b84-4385-be42-84d00f4b2f60","del[...]
[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/oauth2PermissionGrants/mmmeHg1nFkmQQBUbcrNqlCMmBYSEG4VDvkKE0A9LL2A?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '2087920'
      ocp-aad-diagnostics-server-name:
      - jiXJr/3WdIPfD6OtutkFnMeVMJsx/LMTjm/j83XWkn4=
      ocp-aad-session-key:
      - W1sC06D4FYx5eRDoRFXGUgjGjwwHsBhD2Ebql8TcUEFs2i6UBFZHCbmdI9jst0CflAutz5tj0WpDvqwXIHVt-P_8RsSwxewvPjBzzBsT_gc81ly2qWPGfrh1E9zgXLVpC_ihAdO5kwqmsEfQvaILkzhCxqv3oPDkRh1cyzNfhjsJqxUQhRcEewWDnnkvKAcMr8dQQaJzPkOsiQGJZ16b5w.hshGl3a3PhMiBeXRDTZuX22pRAf13rxRbKWYp67G4bs
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=identifierUris%2Fany%28s%3As%20eq%20%27bfc17ae7-4e49-4149-bcac-3494ca5b8996%27%29&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[]}'
    headers:
      content-type:
      - application/json; odata=minimalmetadata; streaming=true; charset=utf-8
      dataserviceversion:
      - 3.0;
      duration:
      - '681952'
      ocp-aad-diagnostics-server-name:
      - 1NLGSpbQa/sgyX5Koc4Pfki9rdzL63nmFXc/kk253lk=
      ocp-aad-session-key:
      - i8_F1WWXQlH-EEIls0tEJ6wcGtDt00VpqwCrGJJJfi9JleA55ieDnq4P6rRkJfw0Hwh2lySVFuAqB8_BIOjiUYfoHP73ygfqN8M_SiuGf5SBqCzJgjl39_tgTZYP2lmNlhAeOlvDhzd21ZroyIUon0LKL77sHdN4f8u_aQAOS6m7WgWjNRqbhKn7-jlSY2FaVkA6lxEMr2lSjR6vV3SlZg.ra6LZkMYlymXojh5Rc502R0hFOhHcBchCnzSu7cIPNw
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications?$filter=appId%20eq%20%27bfc17ae7-4e49-4149-bcac-3494ca5b8996%27&api-version=1.6
  response:
    body:
      string: '{"odata.metadata":"https://graph.windows.net/00000000-0000-0000-0000-000000000000/$metadata#directoryObjects","value":[{"odata.type":"Microsoft.DirectoryServices.Application","objectType":"Application","objectId":"1786fb82-8812-471d-9b57-81775[...]
- request:
    body: null
    headers:
    method: DELETE
    uri: https://graph.windows.net/00000000-0000-0000-0000-000000000000/applications/1786fb82-8812-471d-9b57-81775970fbc4?api-version=1.6
  response:
    body:
      string: ''
    headers:
      duration:
      - '2353543'
      ocp-aad-diagnostics-server-name:
      - NCLikt5gA/KhTFVr9i6W+Ah7pWAcW54TIy83Z9kJVH0=
      ocp-aad-session-key:
      - wjQsuJz2GAwADP2Jfb-A4GnHI-dV6E9cXVobpYbe_U9ZHbtDxOmYRNwklB7_OQUFYCB10R-shNvePVUuVQiGzLCXbnhypG-69Yh4rfWbfS9v7B2qNIkTiOuHEca5g0ZQpbRSwiPZKuALeQkjUEK9COF-NQoKNC4gk4rpNaiLBdC5WjJKloE8RBhMYXVHsAySH7LIZOz4r76HUmQ7rawOIg.pl_PPYN9TKuYp59iuNnInkSqBI74SBXqNitI1iEo_wc
      x-ms-dirapi-data-contract-version:
      - '1.6'
    status:
      code: 204
      message: No Content
version: 1
